@charset "ISO-8859-1";

/*General*/
body  {
	background-color: #dddddd;
	
}
a {
	text-decoration: none;
	color: black;
	margin: 20px;
	font-family: Raleway, sans-serif;
}
a:hover {
	color: #797a7e;
}
.navigation {
	display: flex;
}
h1 {
	font-size: 35px;
	font-family: Raleway, sans-serif;
	justify-content: center;
}
p {
	font-family: Raleway, sans-serif;
}

label {
	font-family: Raleway, sans-serif;
}
input {
	font-family: Raleway, sans-serif;
}
option {
	font-family: Raleway, sans-serif;
}
select {
	font-family: Raleway, sans-serif;
}
/***************************page Accueil*****************************************/
.formulaire {
	justify-content: center;
}

.formPlusTitre {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.logoPlusNavigation {
	display: flex;
	flex-direction: rows;
}
.navigation {
	justify-content: flex-end;
	width: 100%;
}
p.logo {
	font-family: 'Architects Daughter', cursive;
	font-size: 30px;
    width: 300px;
}

.corps {
	display: flex;
	flex-direction: rows;
	justify-content: center;
	
}


