@charset "utf-8";


.fond{
	background-color : #dddddd;
}

body{
	padding : 20px;
	background-color : #dddddd;
	font-size: 20px;
}



.article{
	
	display: flex;
	justify-content: center;
}

label{
	display: inline-block;
	width: 140px;
	
}

input {
	width: 250px;
	float: right;
}

.inputMiseAPrix{
	width: 70px;
	
	
}

.labeldescription{
	vertical-align: top;
}

.inputdescription{
	float: right;
	width: 250px;
}


h1{
	text-align: center;
}

.form{
	padding : 100%;
}




