


body{
	font-family: Raleway, 'Comic sans Ms', sans-serif;
	background-color: #dddddd;
}



.left-part-header{
	display:flex;
	align-items:center;
	}
	
.titre {
	text-align :center;
	color : 41444b;
}


.colonnes{
	color :red;
	display : flex;
	justify_content : space_between;
}

.colonneA{
	display:flex;
	margin:8px;
}